.submit{
    margin-left: 30%;
}
.text
{
    margin-left: 36%;
    margin-top: -2%;
    font-size: smaller;
}
.tick{
    margin-left: 37%;
    margin-top: 5%;
}
.thankyou{
    margin-left: 40%;
}

.yourform{
    margin-left: 30%;
    
}

.goback{
    margin-left: 45%;
    height: 100px;
}

